@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4"><strong>APP_NAME</strong>: "@ViewData["APP_NAME"]"</h1>
        <h1 class="display-4"><strong>MACHINE_NAME</strong>: "@ViewData["MACHINE_NAME"]"</h1>
        <h1 class="display-4"><strong>REQUEST_HOST</strong>: "@ViewData["REQUEST_HOST"]"</h1>
        <h1 class="display-4"><strong>REQUEST_PATH</strong>: "@ViewData["REQUEST_PATH"]"</h1>
    </div>
